<h1>Portfolio Show</h1>

<p><%= @portfolio_item.title %></p>
<p><%= @portfolio_item.subtitle %></p>
<P><%= @portfolio_item.body %></p>
<P><%= image_tag @portfolio_item.main_image unless @portfolio_item.thumb_image.nil? %> </p>

<H3>Technologies Used:</H3>
<% @portfolio_item.technologies.each do |t| %>
  <p><%= t.name %></p>




<%= link_to 'Back', portfolios_path %>
<%= link_to 'Edit', edit_portfolio_path(@portfolio_item) %>
<%= link_to 'Delete', portfolio_path(@portfolio_item), method: :delete %>

<% end %>

